@model GeoMarker.Models.Marker

@{
    ViewData["Title"] = "Delete Marker : GeoMarker";
    ViewData["Heading"] = "Delete Marker";
    ViewData["PageType"] = "cancel";
}
<div class="col-8 offset-1 p-2 mt-4">
    <h1 class="display-6">Markers</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin lorem ante, eget rutrum ligula sagittis eu. Vestibulum suscipit orci a nunc fringilla maximus.</p>
</div>
<div class="card col-7 offset-1">
    @if (Model.Photo != null)
    {
        <img class="card-img-top-large" src="~/img/markers/@Model.Photo" alt="Marker Photo" />
    }
    else
    {
        <img class="card-img-top-large" src="~/img/markers/placeholder.png" alt="Marker Photo" />
    }
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.UserName</li>
        <li class="list-group-item">@Model.Category.Name</li>
        <li class="list-group-item">@Model.Address</li>
        <li class="list-group-item">@Model.Latitude</li>
        <li class="list-group-item">@Model.Longitude</li>
        <li class="list-group-item">@Model.CreatedDate</li>
    </ul>
    <div class="p-1 bg-orange d-flex justify-content-around">
        <form asp-action="Delete">
            <span>
                <input type="hidden" asp-for="MarkerId" />
                <span class="p-2 text-white"><i class="fa-regular fa-trash-can"></i><input type="submit" value="Delete" class="btn p-0 text-white" /></span>
            </span>
        </form>

        <div class="d-flex align-items-center justify-content-end p-2 mb-4 med-gray gm-lower">
            <div class="border-primary"><a class="p-2" asp-action="Details" asp-route-id="@Model?.MarkerId"><i class="fa-regular fa-rectangle-xmark"></i>Cancel</a></div>
        </div>
    </div>
</div>