@model GeoMarker.Models.Marker

@{
    ViewData["Title"] = "Marker Details : GeoMarker";
    ViewData["Heading"] = "Marker Details";
    ViewData["PageType"] = "";
  
}

<div class="col-8 offset-1 p-2 mt-4">
    <h1 class="display-6">Marker Details</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin lorem ante, eget rutrum ligula sagittis eu. Vestibulum suscipit orci a nunc fringilla maximus.</p>
</div>

<div class="card col-7 offset-1">
    @if (Model.Photo != null)
    {
        <img class="card-img-top-large" src="~/img/markers/@Model.Photo" alt="Marker Photo" />
    }
    else
    {
        <img class="card-img-top-large" src="~/img/markers/placeholder.png" alt="Marker Photo" />
    }
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li id="username" class="list-group-item">@Model.UserName</li>
        <li id="category" class="list-group-item">@Model.Category.Name</li>
        <li id="address" class="list-group-item">@Model.Address</li>
        <li id="latitude" class="list-group-item">@Model.Latitude</li>
        <li id="longitude" class="list-group-item">@Model.Longitude</li>
        <li id="createddate" class="list-group-item">@Model.CreatedDate</li>
    </ul>
    <div class="bg-orange p-1 d-flex justify-content-around">
        @if (User.Identity?.Name == Model.UserName || User.IsInRole("Administrator"))
        {
           
                <a class="p-2" asp-action="Edit" asp-route-id="@Model?.MarkerId"><i class="fa-solid fa-pencil"></i>Edit</a>
                <a class="p-2" asp-action="Delete" asp-route-id="@Model?.MarkerId">Delete<i class="fa-regular fa-trash-can"></i></a>
        }
        <a class="p-2" asp-action="Index"><i class="fa-solid fa-map-location"></i>Back to List</a>
    </div>
</div>
