@model List<GeoMarker.Models.Marker>

@{
    ViewData["Title"] = "Markers : GeoMarker";
    ViewData["Heading"] = "Markers";
    ViewData["PageType"] = "index";
}

<div class="col-11 offset-1 p-2 mt-4">
<h1 class="display-6">Markers</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin lorem ante, eget rutrum ligula sagittis eu. Vestibulum suscipit orci a nunc fringilla maximus.</p>
</div>

<div class="card-deck d-flex flex-column align-content-stretch">
    @foreach (var item in Model) {
        <div id="@item.MarkerId" class="marker-card card gm-card col-xs-11 col-xl-10 offset-1 rounded mb-4 border-0  d-flex flex-row">
            
            @if (item.Photo != null)
            {
                <img class="card-img-top"  src="~/img/markers/@item.Photo" alt="Marker Photo" />
            }
            else
            {
                <img class="card-img-top"  src="~/img/markers/placeholder.png" alt="Marker Photo" />
            }
           
        <div class="card-body p-0">
                <h5 class="card-title p-0 ps-2 m-0">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text m-0 p-0 ps-2 small">@Html.DisplayFor(modelItem => item.UserName)</p>
                <small class="text-muted p-0 ps-2">@Html.DisplayFor(modelItem => item.CreatedDate)</small>
                <div class="col-12 bg-orange text-end">
                    <div>
                        @if (User.Identity?.Name == item.UserName || User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.MarkerId">Edit<i class="fa-solid fa-pencil"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.MarkerId">Delete<i class="fa-regular fa-trash-can"></i></a>
                        }
                        <a class="p-0 text-white" asp-action="Details" asp-route-id="@item.MarkerId">View <i class="fa-solid fa-circle-arrow-right"></i></a>
                    </div>
                </div>
        </div>
        </div>
    }
</div>
