@model List<GeoMarker.Models.Marker>

@{
    ViewData["Title"] = "Markers : GeoMarker";
    ViewData["Heading"] = "Markers";
    ViewData["Content"] = "Scroll through the list of markers users have already dropped on the map.";

    if(ViewData["Category"] == null){
        ViewData["Heading"] = "Markers";
        ViewData["Content"] = "Scroll through the list of markers users have already dropped on the map.";
    } else {
        ViewData["Heading"] = ViewData["Category"];
        ViewData["Content"] = "We have many marker categories to simplify your search.";
    }
}

<div class="card-group vstack mb-5 pb-5 p-3">
    @if (Model.Count() == 0)
    {
        <h2 class="display-6">Sorry, no markers in this category.</h2>
        <div class="mt-3">
            <a class="btn bg-lightgrey border border-primary text-primary" asp-controller="Categories" asp-action="Index">
                Back to Categories
            </a>
        </div>
    }
    @foreach (var item in Model) {
        <div id="@item.MarkerId" class="card border-0 bg-white mb-2 marker-card" tabindex="0">
            <div class="d-flex">
                @{ var link = "";
                    if (item.Photo != null){
                        link = item.Photo;
                    } else {
                        link = "placeholder.png";
                    };
                }
                <div class="marker-image-small w-sm-25 flex-grow-0" style="background-image: url('@Url.Content("~/img/markers/" + @link + "")'); background-position: center; background-size: cover;">
                </div>
           
                <div class="p-3">
                    <h4 class="m-0 p-0">@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p class="m-0 p-0 mt-1">@Html.DisplayFor(modelItem => item.Description)</p>
                    <small class="p-0 mt-1">@Html.DisplayFor(modelItem => item.Category.Name)</small>
                    <p class="p-0 small mt-3 fw-bold text-black-50">@Html.DisplayFor(modelItem => item.UserName)<i class="fa-solid fa-user text-primary"></i></p>
                    <div class="marker-list-buttons rounded">
                        <div class="d-flex flex-column flex-lg-row">
                            <a class="text-primary border border-primary p-2 ms-0 rounded small text-decoration-none text-center stretched-link" id="marker-link" asp-action="Details" asp-route-id="@item.MarkerId">View<i class="fa-solid fa-circle-arrow-right"></i></a>
                            @if (User.Identity?.Name == item.UserName || User.IsInRole("Administrator"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.MarkerId" class="zindex-top text-primary p-2 border border-primary rounded small text-decoration-none text-center ms-0 ms-lg-1">Edit<i class="fa-solid fa-pencil"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.MarkerId" class="zindex-top text-primary p-2 border border-primary rounded small text-decoration-none text-center ms-0 ms-lg-1">Delete<i class="fa-regular fa-trash-can"></i></a>
                           
                            }
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    }
</div>
