@model List<GeoMarker.Models.Marker>

@{
    ViewData["Title"] = "Markers : GeoMarker";
    ViewData["Heading"] = "Markers";
    ViewData["Content"] = "Scroll through the list of markers users have already dropped on the map.";

    if(ViewData["Category"] == null){
        ViewData["Heading"] = "Markers";
        ViewData["Content"] = "Scroll through the list of markers users have already dropped on the map.";
    } else {
        ViewData["Heading"] = ViewData["Category"];
        ViewData["Content"] = "We have many marker categories to simplify your search.";
    }
}

<div class="card-group vstack mb-5 pb-5 p-2 pt-0">
    
    @if (Model.Count() == 0)
    {
        <div class="row bg-white p-4 mb-3 shadow-sm rounded-3">
        <p class="fs-4">Sorry, no markers in this category.</p>
        <div>
            <a class="btn border border-primary text-primary" asp-controller="Categories" asp-action="Index">
                Back to Categories
            </a>
        </div>
        </div>
    }
    
    @foreach (var item in Model) {
        <div id="@item.MarkerId" class="card border-0 bg-white mt-2 marker-card rounded-3 shadow-sm" tabindex="0">
            <div class="d-flex">
                @{ var link = "";
                    if (item.Photo != null){
                        link = item.Photo;
                    } else {
                        link = "placeholder.png";
                    };
                }
                <div class="marker-image-small flex-grow-0" style="background-image: url('@Url.Content("~/img/markers/" + @link + "")'); background-position: center; background-size: cover;">
                </div>
           
                <div class="p-3 w-100">
                    <p class="m-0 p-0 fs-4 fw-bold text-primary">@Html.DisplayFor(modelItem => item.Title)</p>
                    <p class="m-0 p-0 mt-1 fs-6 border-bottom pb-2">@Html.DisplayFor(modelItem => item.Description)</p>
                    <small>@Html.DisplayFor(modelItem => item.Category.Name)</small>
                    <p class="p-0 small mt-2 fw-bold text-black-50"><i class="fa-solid fa-user text-primary"></i>@Html.DisplayFor(modelItem => item.UserName)</p>
                    <div class="marker-list-buttons">
                        <div class="d-flex flex-column flex-md-row flex-md-nowrap justify-content-around">
                            <a class="flex-fill me-md-1 mb-1 zindex-top text-primary p-1 border border-primary rounded small text-decoration-none text-center" id="marker-link" asp-action="Details" asp-route-id="@item.MarkerId"><i class="fa-solid fa-circle-arrow-right"></i>View</a>
                            @if (User.Identity.Name == item.UserName || User.IsInRole("Administrator"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.MarkerId" class="flex-fill me-md-1 mb-1 zindex-top text-primary p-1 border border-primary rounded small text-decoration-none text-center"><i class="fa-solid fa-pencil"></i>Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.MarkerId" class="flex-fill me-md-1 mb-1 zindex-top text-primary p-1 border border-primary rounded small text-decoration-none text-center"><i class="fa-regular fa-trash-can"></i>Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    }
</div>
