@model List<GeoMarker.Models.Marker>

@{
    ViewData["Title"] = "Markers : GeoMarker";
    ViewData["Heading"] = "Markers";
    ViewData["Content"] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin lorem ante, eget rutrum ligula sagittis eu. Vestibulum suscipit orci a nunc fringilla maximus.";
}

<div class="d-flex flex-column pb-5">
    @foreach (var item in Model) {
        <div id="@item.MarkerId" class="marker-card border-bottom" tabindex="0">
        <div class="d-flex">    
            @if (item.Photo != null)
            {
                <img class="card-img-top"  src="~/img/markers/@item.Photo" alt="Marker Photo" />
            }
            else
            {
                <img class="card-img-top"  src="~/img/markers/placeholder.png" alt="Marker Photo" />
            }
           
        <div class="p-3">
                <h5 class="m-0 p-0">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="m-0 p-0">@Html.DisplayFor(modelItem => item.UserName)</p>
                <small class="p-0">@Html.DisplayFor(modelItem => item.CreatedDate)</small>
                    <div class="marker-list-buttons rounded w-100 p-1">
                        <div>
                            <a class="text-black p-0 small text-decoration-none" asp-action="Details" asp-route-id="@item.MarkerId">View<i class="fa-solid fa-circle-arrow-right"></i></a>
                            @if (User.Identity?.Name == item.UserName || User.IsInRole("Administrator"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.MarkerId" class="text-black small text-decoration-none">Edit<i class="fa-solid fa-pencil"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.MarkerId" class="text-black small text-decoration-none">Delete<i class="fa-regular fa-trash-can"></i></a>
                            }
                        </div>
                    </div>
        </div>
        </div>
            
        </div>
    }
</div>
