@model IEnumerable<GeoMarker.Models.Marker>

@{
    ViewData["Title"] = "Markers : GeoMarker";
    ViewData["Heading"] = "Markers";
    ViewData["PageType"] = "index";
}


<div class="d-flex align-items-center justify-content-end p-2 mb-4 med-gray gm-lower">
    <div class="border-primary"><a class="p-2 display-7" asp-action="Create"><i class="fa-solid fa-map-location"></i>Create New Marker</a></div>
</div>

<div class="card-deck d-flex flex-wrap justify-content-center">
    @foreach (var item in Model) {
        <div class="card m-5 gm-card col-3">
            @if (item.Photo != null)
            {
                <img class="card-img-top"  src="~/img/markers/@item.Photo" alt="Marker Photo" />
            }
            else
            {
                <img class="card-img-top"  src="~/img/markers/placeholder.png" alt="Marker Photo" />
            }
        <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(modelItem => item.Category.Name)</p>
                <p>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(modelItem => item.Address)</p>
                <p>@Html.DisplayNameFor(model => model.Latitude): @Html.DisplayFor(modelItem => item.Latitude)</p>
                <p>@Html.DisplayNameFor(model => model.Longitude): @Html.DisplayFor(modelItem => item.Longitude)</p>
                <p>@Html.DisplayFor(modelItem => item.UserId)</p>
        </div>
        <div class="card-footer">
                <div>
                    <a asp-action="Edit" asp-route-id="@item.MarkerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MarkerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MarkerId">Delete</a>
                </div>
                <small class="text-muted">@Html.DisplayFor(modelItem => item.CreatedDate)</small>
        </div>
    </div>
    }
</div>